/* [project]/src/components/Hero.module.scss.module.css [app-client] (css) */
.Hero-module-scss-module__lXQcIW__hero {
  margin-top: 2rem;
  padding: 0;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image {
  z-index: -1;
  position: relative;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image figure, .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image picture {
  aspect-ratio: 1344 / 756;
  width: 100%;
  height: 100%;
}

@media (width <= 1024px) {
  .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image figure, .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image picture {
    aspect-ratio: 1 / 1.25;
  }
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__image img {
  object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__content {
  z-index: 2;
  background-image: linear-gradient(to left, var(--white), var(--white) 60%, transparent 100%);
  color: var(--black);
  border-radius: 3rem;
  flex-direction: column;
  gap: 1rem;
  margin-top: -15%;
  padding: 3rem;
  display: flex;
  position: relative;
  bottom: 50%;
}

@media (width <= 1200px) {
  .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__content {
    padding-inline: 1rem;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    padding: 1.5rem 0;
    bottom: 0;
    left: 0;
  }
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__balao {
  width: 60%;
  height: 100%;
  margin-top: -9rem;
  margin-left: -6rem;
}

@media (width <= 1200px) {
  .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__balao {
    margin-top: -9rem;
    margin-left: 0;
  }
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__tagline {
  color: var(--accent-light);
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 14px;
  font-weight: 600;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__title {
  color: var(--primary-text);
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__description {
  font-size: 1.25rem;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__titleContainer {
  flex-direction: column;
  gap: .5rem;
  display: flex;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__text {
  color: var(--gray-800);
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__cta {
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button {
  color: var(--accent);
  border: 1px solid var(--accent);
  background-color: #0000;
  border-radius: 10px;
  align-items: center;
  gap: 1.5rem;
  padding: .75rem 2rem;
  font-size: 1rem;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button svg {
  width: 24px;
  height: 24px;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button svg path {
  stroke: var(--accent);
  fill: var(--white);
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button span {
  white-space: nowrap;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button:hover {
  background-color: var(--accent-dark);
  color: var(--white);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #0003;
}

.Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button:hover svg path {
  stroke: var(--white);
  fill: var(--white);
}

@media (width <= 1024px) {
  .Hero-module-scss-module__lXQcIW__hero .Hero-module-scss-module__lXQcIW__button {
    width: 100%;
    padding-block: .5rem;
    padding-inline: 1rem;
  }
}

/*# sourceMappingURL=src_components_Hero_module_scss_module_css_f9ee138c._.single.css.map*/