// Gray Colors

$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


// Color Variables
$turquoise: #31BBCA;
$blue: #4389C8;
$lilac: #C793E0;
$indigo: #4561AD;

$text-turquoise: #259DA3;
$text-blue: #356DA0;
$text-lilac: #833193;
$text-indigo: #4561AD;

$blue-dark: #083d70;

$color-1: #9aabcd;
$color-2: #80bdd7;
$color-3: #a5bee3;
$color-4: #8da4d5;
$color-5: #70a5cc;
$color-6: #8697c5;
$color-7: #99a2ca;
$color-8: #dbcae3;
$color-9: #b5bcd5;
$color-10: #b2dee5;


$turquoise-light: rgba($turquoise, 0.45);
$blue-light: rgba($blue, 0.45);
$lilac-light: rgba($lilac, 0.45);
$indigo-light: rgba($indigo, 0.45);


$primary: $turquoise;
$primary-light: $turquoise-light;
$primary-text: $text-turquoise;

$secondary: $blue;
$secondary-light: $blue-light;
$secondary-text: $text-blue;

$tertiary: $lilac;
$tertiary-light: $lilac-light;
$tertiary-text: $text-lilac;

$quaternary: $indigo;
$quaternary-light: $indigo-light;
$quaternary-text: $text-indigo;

$accent: $blue;
$accent-light: $blue-light;
$accent-text: $text-blue;




$white: #ffffff;