// Gray Colors

$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;


// Color Variables
$turquoise: #31BBCA;
$blue: #4389C8;
$lilac: #C793E0;
$indigo: #4561AD;

$text-turquoise: #259DA3;
$text-blue: #356DA0;
$text-lilac: #833193;
$text-indigo: #4561AD;

$blue-dark: #083d70;

$color-1: #9aabcd;
$color-2: #80bdd7;
$color-3: #a5bee3;
$color-4: #8da4d5;
$color-5: #70a5cc;
$color-6: #8697c5;
$color-7: #99a2ca;
$color-8: #dbcae3;
$color-9: #b5bcd5;
$color-10: #b2dee5;


$turquoise-light: rgba($turquoise, 0.45);
$blue-light: rgba($blue, 0.45);
$lilac-light: rgba($lilac, 0.45);
$indigo-light: rgba($indigo, 0.45);


$primary: $turquoise;
$primary-light: $turquoise-light;
$primary-text: $text-turquoise;

$secondary: $blue;
$secondary-light: $blue-light;
$secondary-text: $text-blue;

$tertiary: $lilac;
$tertiary-light: $lilac-light;
$tertiary-text: $text-lilac;

$quaternary: $indigo;
$quaternary-light: $indigo-light;
$quaternary-text: $text-indigo;

$accent: $blue;
$accent-light: $blue-light;
$accent-text: $text-blue;




$white: #ffffff;




// CSS Custom Properties
:root {

  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --primary-text: #{$primary-text};
  --secondary: #{$secondary};
  --secondary-light: #{$secondary-light};
  --secondary-text: #{$secondary-text};
  --tertiary: #{$tertiary};
  --tertiary-light: #{$tertiary-light};
  --tertiary-text: #{$tertiary-text};
  --quaternary: #{$quaternary};
  --quaternary-light: #{$quaternary-light};
  --quaternary-text: #{$quaternary-text};
  --accent: #{$accent};
  --accent-light: #{$accent-light};
  --accent-text: #{$accent-text};
  --white: #{$white};
  --black: #{$black};
  --gray-100: #{$gray-100};
  --gray-200: #{$gray-200};
  --gray-300: #{$gray-300};
  --gray-400: #{$gray-400};
  --gray-500: #{$gray-500};
  --gray-600: #{$gray-600};
  --gray-700: #{$gray-700};
  --gray-800: #{$gray-800};
  --gray-900: #{$gray-900};
  --text-turquoise: #{$text-turquoise};
  --text-blue: #{$text-blue};
  --text-lilac: #{$text-lilac};
  --text-indigo: #{$text-indigo};
  --text-primary: #{$primary-text};
  --text-secondary: #{$secondary-text};
  --text-tertiary: #{$tertiary-text};
  --text-quaternary: #{$quaternary-text};
  --text-accent: #{$accent-text};
  --text-white: #{$white};
  --text-black: #{$black};
  --text-gray-100: #{$gray-100};
  --text-gray-200: #{$gray-200};
  --text-gray-300: #{$gray-300};
  --text-gray-400: #{$gray-400};
  --text-gray-500: #{$gray-500};
  --text-gray-600: #{$gray-600};
  --text-gray-700: #{$gray-700};
  --text-gray-800: #{$gray-800};
  --text-gray-900: #{$gray-900};
  --color-1: #{$color-1};
  --color-2: #{$color-2};
  --color-3: #{$color-3};
  --color-4: #{$color-4};
  --color-5: #{$color-5};
  --color-6: #{$color-6};
  --color-7: #{$color-7};
  --color-8: #{$color-8};
  --color-9: #{$color-9};
  --color-10: #{$color-10};
  --blue-dark: #{$blue-dark};
}