@use '../styles/variables/colors' as *;

.footer {
  background-color: var(--text-primary);
  color: var(--white);
  padding: 1rem 0 1rem;
  
  .footerContent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 3rem;
  }

  .balaoContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  

  .balao {
    margin-top: -8rem;


    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (max-width: 1200px) {
      margin-top: -3rem;
      margin-left: 0;
    }

    @media (max-width: 768px) {
      margin-top: -3rem;
      margin-left: 0;

    }
  }

  .footerBottom {
    width: 100%;
    padding-top: 2rem;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .copyright,
    .credentials {
      p {
        margin: 0;
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .credentials {
      font-style: italic;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 2rem 0 1rem;

    .footerBottom {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }
  }
} 