.hero {
    margin-top: 2rem;
    padding: 0;

    .image {
        position: relative;
        z-index: -1;

        figure,
        picture {
            width: 100%;
            height: 100%;
            aspect-ratio: 1344/756;

            @media (max-width: 1024px) {
                aspect-ratio: 1/1.25;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        border-radius: 3rem;
        bottom: 50%;


        background-image: linear-gradient(to left, var(--white), var(--white) 60%, transparent 100%);
        color: var(--black);
        margin-top: -15%;

        @media (max-width: 1200px) {
            padding-inline: 1rem;
            border-radius: 0;
            margin-top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            padding: 1.5rem 0rem;

        }
    }

    .balao {

        margin-top: -9rem;
        margin-left: -6rem;
        width: 60%;
        height: 100%;

        @media (max-width: 1200px) {
            margin-top: -9rem;
            margin-left: -0rem;

        }
    }

    .tagline {
        color: var(--accent-light );
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .title {
        color: var(--primary-text);
    }

    .description {

        font-size: 1.25rem;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        color: var(--gray-800);
        gap: 1.5rem;
    }

    .cta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .button {
        color: var(--accent);
        padding: 0.75rem 2rem;
        border-radius: 10px;
        border: 1px solid var(--accent);
        background-color: transparent;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        transition: all 0.3s ease;

        svg {
            width: 24px;
            height: 24px;

            path {
                stroke: var(--accent);
                fill: var(--white);
            }
        }

        span {
            white-space: nowrap;
        }

        &:hover {
            background-color: var(--accent-dark);
            color: var(--white);
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

            svg {
                path {
                    stroke: var(--white);
                    fill: var(--white);
                }
            }
        }



        @media (max-width: 1024px) {
            padding-inline: 1rem;
            padding-block: 0.5rem;
            width: 100%;
        }
    }
}
