.hero {
    margin-top: 2rem;
    padding: 0;
    background-image: linear-gradient(to bottom, var(--white) 75%, var(--quaternary-light)90%, var(--quaternary-light)100%);

    .image {
        position: relative;
        z-index: -1;

        figure,
        picture {
            width: 100%;
            height: 100%;
            aspect-ratio: 1344/600;

            @media (max-width: 1024px) {
                aspect-ratio: 16/9;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        border-radius: 3rem;
        bottom: 50%;
        width: 80%;


        background-image: linear-gradient(-45deg, var(--white) 0%, var(--white) 90%, transparent 90%);
        color: var(--black);
        margin-top: -15%;

        @media (max-width: 992px) {

            margin-top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            padding: 1.5rem 1rem;
        }
    }

    .balaoContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .logoText {
       width: 40%;

       margin-top: -6rem;
        margin-left: -1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .balao {
        margin-top: -9rem;
        margin-left: -6rem;
        width: 60%;
        height: 100%;

        @media (max-width: 1200px) {
            margin-top: -9rem;
            margin-left: -0rem;

        }
    }

    .tagline {
        color: var(--indigo );
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    .title {
        color: var(--primary-text);
    }

    .description {

        font-size: 1.25rem;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        color: var(--gray-800);
        gap: 1.5rem;
    }

    .cta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .button {
        color: var(--accent);
        padding: 0.75rem 2rem;
        border-radius: 10px;
        background-color: var(--tertiary);
        color: var(--white);
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: transform 0.3s ease;

        svg {
            width: 24px;
            height: 24px;

            path {
                stroke: var(--white);
                fill: transparent;
            }
        }

        span {
            white-space: nowrap;
        }

        &:hover {
            background-color: transparent;
            outline: 1px solid var(--text-tertiary);
            color: var(--text-tertiary);
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

            svg {
                path {
                    stroke: var(--text-tertiary);

                }
            }
        }



        @media (max-width: 1024px) {
            padding-inline: 1rem;
            padding-block: 0.5rem;

        }
    }

   
      
}
