@use '../variables/fonts' as *;
@use '../variables/breakpoints' as *;

@mixin heading-1 {
  font-family: $font-heading;
  font-size: $font-size-5xl;
  line-height: $line-height-tight;
  font-weight: $medium;

  @media (max-width: 768px) {
    font-size: $font-size-3xl;
  }
}

@mixin heading-2 {
  font-family: $font-heading;
  font-size: $font-size-4xl;
  line-height: $line-height-snug;
  font-weight: $medium;

  @media (max-width: 768px) {
    font-size: $font-size-2xl;
  }
}

@mixin heading-3 {
  font-family: $font-heading;
  font-size: $font-size-2xl;
  line-height: $line-height-normal;
  font-weight: $medium;

  @media (max-width: 768px) {
    font-size: $font-size-xl;
  }
}

@mixin body-text {
  font-family: $font-body;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  font-weight: $regular;

  @media (max-width: 768px) {
    font-size: $font-size-sm;
  }
}

@mixin quote-text {
  font-family: $font-heading;
  font-size: 1.375rem;
  line-height: $line-height-normal;
  font-weight: $thin;

  @media (max-width: 768px) {
    font-size: $font-size-sm;
  }
}

@mixin responsive-text($size, $line-height) {
  font-size: $size;
  line-height: $line-height;

  @media #{$mq-md-max} {
    font-size: calc($size * 0.875);
  }
} 