@use '../variables/breakpoints' as *;

.container {
	position: relative;
	z-index: 1;
	padding-left: 1.25rem;
    padding-right: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	
	@media #{$mq-sm-min} {
		max-width: 90%;
		padding-left: 3rem;
    	padding-right: 3rem;
	}
	
	@media #{$mq-md-min} {
		max-width: 85%;
	}

	@media #{$mq-lg-min} {
		max-width: calc(100vw - 6rem);
	}
	
	@media #{$mq-2xl-min} {
		max-width: calc(100vw - 6rem);
	}
	
	@media #{$mq-3xl-min} {
		max-width: 90rem; 
	}

	&--big {
		@media #{$mq-md-min} {
			max-width: 90%;
		}

		@media #{$mq-lg-min} {
			max-width: calc(100vw - 6rem);
		}
		
		@media #{$mq-2xl-min} {
			max-width: calc(100vw - 6rem);
		}
		
		@media #{$mq-3xl-min} {
			max-width: 73.5rem;
		}	
	}

	.row {
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		row-gap: 3rem;

		@media #{$mq-sm-min} {
			margin-left: -0.75rem;
			margin-right: -0.75rem;
		}

        .col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
            padding-left: 0.5rem;
            padding-right: 0.5rem;

			@media #{$mq-sm-min} {
				padding-left: 0.75rem;
            	padding-right: 0.75rem;
			}
        }

		// Padding classes - base
		.p-0 { padding: 0; }
		.pt-0 { padding-top: 0; }
		.pb-0 { padding-bottom: 0; }
		.pl-0 { padding-left: 0; }
		.pr-0 { padding-right: 0; }
		.px-0 { padding-left: 0; padding-right: 0; }
		.py-0 { padding-top: 0; padding-bottom: 0; }

		// Padding classes - sm breakpoint
		@media #{$mq-sm-min} {
			.p-sm-0 { padding: 0; }
			.pt-sm-0 { padding-top: 0; }
			.pb-sm-0 { padding-bottom: 0; }
			.pl-sm-0 { padding-left: 0; }
			.pr-sm-0 { padding-right: 0; }
			.px-sm-0 { padding-left: 0; padding-right: 0; }
			.py-sm-0 { padding-top: 0; padding-bottom: 0; }
		}

		// Padding classes - md breakpoint
		@media #{$mq-md-min} {
			.p-md-0 { padding: 0; }
			.pt-md-0 { padding-top: 0; }
			.pb-md-0 { padding-bottom: 0; }
			.pl-md-0 { padding-left: 0; }
			.pr-md-0 { padding-right: 0; }
			.px-md-0 { padding-left: 0; padding-right: 0; }
			.py-md-0 { padding-top: 0; padding-bottom: 0; }
		}

		// Padding classes - lg breakpoint
		@media #{$mq-lg-min} {
			.p-lg-0 { padding: 0; }
			.pt-lg-0 { padding-top: 0; }
			.pb-lg-0 { padding-bottom: 0; }
			.pl-lg-0 { padding-left: 0; }
			.pr-lg-0 { padding-right: 0; }
			.px-lg-0 { padding-left: 0; padding-right: 0; }
			.py-lg-0 { padding-top: 0; padding-bottom: 0; }
		}

		// Padding classes - xl breakpoint
		@media #{$mq-xl-min} {
			.p-xl-0 { padding: 0; }
			.pt-xl-0 { padding-top: 0; }
			.pb-xl-0 { padding-bottom: 0; }
			.pl-xl-0 { padding-left: 0; }
			.pr-xl-0 { padding-right: 0; }
			.px-xl-0 { padding-left: 0; padding-right: 0; }
			.py-xl-0 { padding-top: 0; padding-bottom: 0; }
		}

		// Padding classes - 2xl breakpoint
		@media #{$mq-2xl-min} {
			.p-2xl-0 { padding: 0; }
			.pt-2xl-0 { padding-top: 0; }
			.pb-2xl-0 { padding-bottom: 0; }
			.pl-2xl-0 { padding-left: 0; }
			.pr-2xl-0 { padding-right: 0; }
			.px-2xl-0 { padding-left: 0; padding-right: 0; }
			.py-2xl-0 { padding-top: 0; padding-bottom: 0; }
		}
    }	
}