// Font imports
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:wght@400;500;700&display=swap');

// Domine font classes
.domine-regular {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.domine-medium {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.domine-semibold {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.domine-bold {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// Roboto font classes
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
} 